{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 align="center">Request to create a new password </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5" style="margin: auto">
                <div class="contact-form bg-light p-30">
                    <p class="btn btn-success">
                        We have emailed you the password setting instructions. If there is an account with the email you
                        entered You should receive these instructions soon.
                        <br>
                        If you do not receive an email, please check that the address entered is the same as the one
                        registered with
                        and check your spam folder as well.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}

