{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 align="center"> Reset Password </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5" style="margin: auto">
                <div class="contact-form bg-light p-30">
                    {% if validlink %}
                        <form method="post"> {% csrf_token %}
                                <div class="control-group">
                                <div class="col-6">
                                    {{ form.password1|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.password2|as_crispy_field }}
                                </div>
                            </div>
                        </form>
                    {% else %}
                         <p align="center" style="font-size: large "> Password has expired!!<a href="{% url "account:password_reset" %}">Click</a> to reset your password . </p>
                          <div align="center" style="padding: 15px">
                              <button class="btn btn-primary py-2 px-4" type="submit">Reset my
                                  password
                              </button>
                          </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}

