{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 align="center"> Create a new password </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5" style="margin: auto">
                <div class="contact-form bg-light p-30">
                    <p class="text-success">You're password changed.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}

